#services {
    background: var(--color-bg-variant);
}

#services h2 {
    color: var(--color-primary);
}

.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.trait__item {
    margin-bottom: 3rem;
    text-align: center;
    width: 100%;
}

.trait__item_image {
    margin: auto;
    width: 5rem;
}

.trait__item img {
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 2px solid var(--color-primary);
    box-shadow:0 0 5px .2rem rgba(82, 189, 255, 0.468);
}

/* ================ MEDIA QUERIES (MEDIUM) ================ */
@media screen and (max-width: 1024px) {

}

/* ================ MEDIA QUERIES (SMALL) ================ */
@media screen and (max-width: 600px) {
    .services__container {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}