/* #services {
    background: var(--color-primary);
} */

#services h2 {
    color: var(--color-primary);
}

.services__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.service {
    height: fit-content;
    transition: var(--transition);
}

.service:hover {
    cursor: default;
}

.service__head {
    background: transparent;
    padding: 2rem;
}

.service__head h3 {
    color: var(--color-primary);
    font-size: 1rem;
    text-align: center;
}

.service__list {
    padding: 2rem;
}

.service__list li {
    display: flex;
    gap: 2rem;
    margin-bottom: 0.8rem;
}

.service__list_icon {
    color: var(--color-white);
    margin-top: .25rem;
}

.service__list p {
    font-size: 0.9rem;
}

/* ================ MEDIA QUERIES (MEDIUM) ================ */
@media screen and (max-width: 1024px) {
    .services__container {
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .service {
        height: auto;
    }

}

/* ================ MEDIA QUERIES (SMALL) ================ */
@media screen and (max-width: 600px) {
    .services_container {
        grid-template-columns: 1fr;
        gap: 1.5rem;
    }
}