/* #portfolio {
    background: var(--color-bg-variant)
} */

.portfolio__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2.5rem;
}

.portfolio__item {
    margin: auto;
    opacity: 60%;
    width: 90%;
    background: var(--color-bg-variant);
    padding: 1.2rem;
    transition: var(--transition);
    border-bottom: 1px solid var(--color-primary);
    border-top: 1px solid var(--color-primary);
    border-radius: 2rem;
}

.portfolio__item:hover {
    opacity: 100%;
    border-color: var(--color-primary);
    border-radius: 2rem;
}

.portfolio__item_image {
    border-radius: 2rem;
    overflow: hidden;
    transition: var(--transition);
}

.portfolio__item h3 {
    text-align: center;
    margin: 1.2rem 0 .5rem;
}

.portfolio__item_cta {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-bottom: .5rem;
}

.portfolio__item_cta .btn {
    margin: auto;
}

/* ================ MEDIA QUERIES (MEDIUM) ================ */
@media screen and (max-width: 1024px) {
    .portfolio__container {
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}

/* ================ MEDIA QUERIES (SMALL) ================ */
@media screen and (max-width: 600px) {
    .portfolio__container {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}