header {
    height: 110vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* ================ CTA ================ */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ================ HEADER SOCIALS ================ */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 10rem;
    bottom: 10rem;
    font-size: 1.5rem
}

/* ================ ME ================ */
.me {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 29.4rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 10rem 40rem 10rem 10rem;
}

/* ================ SCROLL DOWN ================ */
.message {
    background-color: var(--color-primary);
    border-radius: 50%;
    position: absolute;
    right: 10rem;
    bottom: 13rem;
    font-weight: 300;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    color: var(--color-white);
}

.message:hover {
    background-color: var(--color-white);
    color: var(--color-primary)
}

/* ================ MEDIA QUERIES (MEDIUM) ================ */
@media screen and (max-width: 1024px) {

    a.btn.btn-primary {
        display: none;
    }

}

/* ================ MEDIA QUERIES (SMALL) ================ */
@media screen and (max-width: 600px) {

    .header__socials, 
    .message {
        display: none;
    }
}